@using FindoctorEntity.Entities

@{
    ViewData["Title"] = "Create";
}

@model Doctor

<div class="content-wrapper " style="padding-top:20px">
    <section class="content container-sm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Ad</label>
                                    <input asp-for="Name" class="form-control" placeholder="Ad">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Soyad</label>
                                    <input asp-for="Surname" class="form-control" placeholder="Soyad">
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Telefon Nömrəsi</label>
                                    <input asp-for="Phone" class="form-control" placeholder="Telefon">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="card-body" style="display:flex;flex-wrap:wrap;width:100%;justify-content:space-around;">
                                <div class="form-group" style="Width:20%;">
                                    <label>İxtisas</label>
                                    <select asp-for="SpecialityId" class="form-control">
                                        <option disabled selected>İxtisas seçin</option>
                                    </select>
                                    <span asp-validation-for="SpecialityId" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="Width:20%">
                                    <label>Klinika</label>
                                    <select asp-for="ClinicId" class="form-control" >
                                        <option disabled selected>Klinika seçin</option>
                                    </select>
                                    <span asp-validation-for="ClinicId" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="Width:20%;">
                                    <label>Cins</label>
                                    <select asp-for="ClinicId" class="form-control" >
                                        <option disabled selected>Cinsi seçin</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button class="btn btn-primary">Create</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>