
@{
    ViewData["Title"] = "Default";
}

<div class="filters_listing">
    <div class="container">
        <ul class="clearfix">
            <li>
                <h6>Type</h6>
                <div class="switch-field">
                    <ul>
                        <li>
                            <input type="radio" id="doctor" name="radio_search" value="doctor">
                            <label for="doctor"><a asp-controller="Category" asp-action="AllDoctors" >Həkimlər</a></label>
                        </li>
                        <li>
                            <input type="radio" id="clinic" name="radio_search" value="clinic">
                            <label for="clinic"><a asp-controller="Category" asp-action="AllClinics" >Klinikalar</a></label>
                        </li>
                    </ul>
                </div>
            </li>
            @*<li>
            <h6>Sort by</h6>
            <select name="orderby" class="selectbox">
            <option value="Closest">Closest</option>
            <option value="Best rated">Best rated</option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            </select>
            </li>*@
        </ul>
    </div>
    <!-- /container -->
</div>