@using FindoctorViewModel.Entities.DoctorVM

@{
    ViewData["Title"] = "Create";
}

@model CreateDoctorVM
@{
    string[] genders = { "Kişi", "Qadın", "Heçbiri" };
}
<div class="content-wrapper">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            <div class="box_general padding_bottom">
                <div class="header_box version_2">
                    <h2><i class="fa fa-file"></i>Lazımi məlumatlar</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name">Ad</label>
                            <input asp-for="Name" class="form-control" placeholder="Adınız">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Surname">Soyad</label>
                            <input asp-for="Surname" class="form-control" placeholder="Soyadınız">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Phone">Telefon</label>
                            <input asp-for="Phone" class="form-control" placeholder="+994">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Emailiniz">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="About">Haqqında</label>
                            <textarea asp-for="About" class="form-control"></textarea>
                            <span asp-validation-for="About" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Paymant">Ödəniş</label>
                            <input asp-for="Paymant" class="form-control" placeholder="AZN">
                            <span asp-validation-for="Paymant" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StartWorkTime">Başlama saatı</label>
                            <input asp-for="StartWorkTime" class="form-control">
                            <span asp-validation-for="StartWorkTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="StopWorkTime">Bitmə saatı</label>
                            <input asp-for="StopWorkTime" class="form-control">
                            <span asp-validation-for="StopWorkTime" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CategoryId">Kateqoriya</label>
                            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                                <option disabled selected>Kateqoriya seç</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ClinicId">Klinika</label>
                            <select asp-for="ClinicId" asp-items="@ViewBag.Clinics" class="form-control">
                                <option disabled selected>Klinika seç</option>
                            </select>
                            <span asp-validation-for="ClinicId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender">Cins</label>
                            <select class="form-control" asp-for="Gender">
                                <option disabled selected>Cins seçin</option>

                                @foreach (var gender in genders)
                                {
                                    <option>@gender</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Image">Şəkil</label>
                            <input asp-for="Image" class="form-control">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /row-->
            </div>

            <p><button class="btn_1 medium">Yadda saxala</button></p>
        </form>
    </div>
    <!-- /.container-fluid-->
</div>