@using FindoctorViewModel.Entities.ClinicVm

@{
    ViewData["Title"] = "Create";
}
@model CreateClinicVM

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">İdarə paneli</a>
            </li>
            <li class="breadcrumb-item active"><a asp-controller="Clinic" asp-action="Index">Klinikalara bax</a></li>
        </ol>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Klinika yarat</h2>
            </div>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Name">Klinika</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Haqqında</label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location">Ünvan</label>
                    <input asp-for="Location" class="form-control">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartWorkTime">Başlama saatı</label>
                    <input asp-for="StoptWorkTime" class="form-control">
                    <span asp-validation-for="StoptWorkTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StoptWorkTime">Bitmə saatı</label>
                    <input asp-for="StoptWorkTime" class="form-control">
                    <span asp-validation-for="StoptWorkTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Kateqoriya</label>
                    <select asp-for="CategoryId" asp-items="@ViewBag.Categories">
                        <option disabled selected>Kateqoriya seçin</option>
                        <option></option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Yarat</button>
            </form>

        </div>
    </div>
</div>