
@{
    ViewData["Title"] = "Paymant";
}

<main>
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- /breadcrumb -->

		<div class="container margin_60">
			<div class="row">
				<div class="col-xl-8 col-lg-8">
				<div class="box_general_3 cart">
					<div class="form_title">
						<h3><strong>1</strong>Sizin məlumatlar</h3>
						<p>
							Ödəniş etmək üçün verilənləri doldurmalısınız.
						</p>
					</div>
					@{
						string[] genders = {"Kişi","Qadın","Heçbiri"};
					}
					<div class="step">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Ad</label>
									<input type="text" class="form-control" id="firstname_booking" name="firstname_booking" placeholder="Ad">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Soyad</label>
									<input type="text" class="form-control" id="lastname_booking" name="lastname_booking" placeholder="Soyad">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Email</label>
									<input type="email" id="email_booking" name="email_booking" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Cins</label>
									<select class="form-control">
										<option disabled selected>Cins seçin</option>
									@foreach(var gender in genders)
									{
										<option>@gender</option>
									}
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label>Telefon nömrəsi</label>
									<input  id="telephone_booking" name="telephone_booking" class="form-control" placeholder="+994">
								</div>
							</div>
						</div>
					</div>
					<hr>
					<!--End step -->
				</div>
				</div>
				<!-- /col -->
				<aside class="col-xl-4 col-lg-4" id="sidebar">
					<div class="box_general_3 booking">
						<form>
							<div class="title">
								<h3>Your booking</h3>
							</div>
							<div class="summary">
								<ul>
									<li>Date: <strong class="float-right">11/12/2017</strong></li>
									<li>Time: <strong class="float-right">10.30 am</strong></li>
									<li>Dr. Name: <strong class="float-right">Dr. julia Jhones</strong></li>
								</ul>
							</div>
							<ul class="treatments checkout clearfix">
								<li class="total">
									Total <strong class="float-right">$110</strong>
								</li>
							</ul>
							<hr>
							<a href="confirm.html" class="btn_1 full-width">Confirm and pay</a>
						</form>
					</div>
					<!-- /box_general -->
				</aside>
				<!-- /asdide -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>