@using FindoctorViewModel.Entities.Account

@{
    ViewData["Title"] = "DosctorRegister";
}

@model CraeteDoctorRegisterVM

<main>
	<div id="hero_register">
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-lg-6 mt-lg-5">
					<div class="box_feat_2">
						<i class="pe-7s-culture"></i>
						<h3>Həkim kimi qeydiyyatdan keçə bilərsiniz</h3>
						<p>Ali tibb təhsili olan, bu sahədə əldə etdiyi bilik və bacarıqlarını insanların xəstəliklərinin müalicəsinə, insan sağlamlığının qorunması və saxlanılmasına həsr edən insan.</p>
					</div>
					<div class="box_feat_2">
						<i class="pe-7s-portfolio"></i>
						<h3>İstifadəçilərlə əlaqə qura biləcəksiniz</h3>
						<p>Siz həkim kimi bu sayt üzərindən xəstə qəbul edə biləcəksiniz.</p>
					</div>
					
				</div>
				<!-- /col -->
				<div class="col-lg-6 ml-auto">
					<div class="box_form">
						
						<form method="post">
							
							
							@*<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" placeholder="Yaşadığınız şəhər">
									</div>
								</div>
								<div class="col-md-6">
									
									<div class="form-group">
										<select class="form-control">
											<option disabled selected>Ölkə seçin</option>
											
										</select>
									</div>
								</div>
							</div>*@
							<!-- /row -->
							@*<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" placeholder="Telefon nömrəsi">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<select class="form-control">
											<option disabled selected>İxtisas seçin</option>
											
										</select>
									</div>
								</div>
							</div>*@
							<!-- /row -->
							<div class="row">
								<div class="col-md-6 ">
									<div class="form-group">
										<input asp-for="Name" class="form-control" placeholder="Ad">
										<span asp-validation-for="Name" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input asp-for="Surname" class="form-control" placeholder="Soyad">
										<span asp-validation-for="Surname" class="text-danger"></span>
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input asp-for="Email" class="form-control" placeholder="Email adres">
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<input asp-for="UserName" class="form-control" placeholder="İstifadəçi adı">
										<span asp-validation-for="UserName" class="text-danger"></span>
									</div>
								</div>
							</div>
							<!-- /row -->
							<!-- /row -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input asp-for="Password" class="form-control" id="password1" placeholder="Şifrə">
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input asp-for="ComfirmPassword" class="form-control" id="password2" placeholder="Şifrəni təsdiqləyin">
										<span asp-validation-for="ComfirmPassword" class="text-danger"></span>
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="form-group text-center add_top_30">
							<a><input type="submit" readonly class="btn_1 text-center" value="Qeydiyyatdan keçin"></a>
							<div asp-validation-summary="ModelOnly"></div>
							</div>
						</form>
					</div>
					<!-- /box_form -->
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /hero_register -->
</main>