@using FindoctorEntity.Entities
@{
    ViewData["Title"] = "Index";
}

@model ICollection<Review>

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a asp-controller="Home" asp-action="Index">İdarə paneli</a>
        </li>
      </ol>
		<div class="box_general">
			<div class="header_box">
				<h2 class="d-inline-block">Rəylər</h2>
			</div>
			<div class="list_general reviews">
				<ul>
					@foreach(var reviews in Model)
					{
						<li>
							<span>@reviews.CreatedAt.ToLongDateString()</span>
							<figure><img src="~/assets/img/reviewForUser/@reviews.ImageUrl" alt=""></figure>
							<h4>@reviews.Name</h4>
							<p>@reviews.Description</p>
						</li>
					}
					
				</ul>
			</div>
		</div>
		<!-- /box_general-->
		<nav aria-label="...">
			<ul class="pagination pagination-sm add_bottom_30">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
		<!-- /pagination-->
	  </div>
	  <!-- /container-fluid-->
   	</div>