@using FindoctorViewModel.Entities.CategoryVM

@{
    ViewData["Title"] = "Create";
}

@model CreateCategoryVM

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">İdarə paneli</a>
            </li>
            <li class="breadcrumb-item active"><a asp-controller="Category" asp-action="index">Kategoriyalara bax</a></li>
        </ol>
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-file"></i>Kateqoriya yarat</h2>
            </div>

            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Kateqoriya</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image">Şəkil</label>
                    <input asp-for="Image" class="form-control">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Yarat</button>
            </form>

        </div>
    </div>
</div>